<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>ds01.png</string>
		<key>count</key>
		<string>280</string>
		<key>price</key>
		<string>6388</string>
		<key>title</key>
		<string>Apple iPhone 7 Plus 32G 玫瑰金色 移动联通电信4G手机</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds02.png</string>
		<key>count</key>
		<string>80</string>
		<key>price</key>
		<string>33</string>
		<key>title</key>
		<string>安儿欣babiSafe宽口径玻璃吸管奶瓶180- 300ml 带硅胶保护层</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds03.png</string>
		<key>count</key>
		<string>98</string>
		<key>price</key>
		<string>148</string>
		<key>title</key>
		<string>休闲时尚 母婴背包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds04.png</string>
		<key>count</key>
		<string>890</string>
		<key>price</key>
		<string>144</string>
		<key>title</key>
		<string>好奇Huggies铂金装倍柔亲肤纸尿裤特供装中号M92片</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds05.png</string>
		<key>count</key>
		<string>630</string>
		<key>price</key>
		<string>285</string>
		<key>title</key>
		<string>英国原装Cow&amp;Gate牛栏宝宝奶粉四段2-3+</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds06.png</string>
		<key>count</key>
		<string>180</string>
		<key>price</key>
		<string>38</string>
		<key>title</key>
		<string>五个小卡车Five rucks湿巾儿童湿巾婴儿手口湿巾一包80抽3包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds07.png</string>
		<key>count</key>
		<string>110</string>
		<key>price</key>
		<string>144</string>
		<key>title</key>
		<string>飞利浦空气净化器除甲醛除雾霾除尘除菌</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds08.png</string>
		<key>count</key>
		<string>403</string>
		<key>price</key>
		<string>285</string>
		<key>title</key>
		<string>巴黎欧莱雅美发无硅油控油去屑洗发水露护发素套装正品女滋养柔顺</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ds09.png</string>
		<key>count</key>
		<string>348</string>
		<key>price</key>
		<string>148</string>
		<key>title</key>
		<string>Clear清扬去屑控油洗发水活力运动薄荷型男士洗发露乳正品</string>
	</dict>
</array>
</plist>
