<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMjQ4MTc0ODMyOA==</string>
		<key>count</key>
		<string>307.7</string>
		<key>image</key>
		<string>sp01.png</string>
		<key>title</key>
		<string>三生三世十里桃花</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMjQ5NDk0NTk4NA==</string>
		<key>count</key>
		<string>228.6</string>
		<key>image</key>
		<string>sp02.png</string>
		<key>title</key>
		<string>战火中的兄弟</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMTg5MzczNjg5Mg==</string>
		<key>count</key>
		<string>99.4</string>
		<key>image</key>
		<string>sp03.png</string>
		<key>title</key>
		<string>乱世丽人行</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMTY5NDg2MzY5Ng==</string>
		<key>count</key>
		<string>80.8</string>
		<key>image</key>
		<string>sp04.png</string>
		<key>title</key>
		<string>微微一笑很倾城</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMjUwMjI4MzYwNA==</string>
		<key>count</key>
		<string>108.9</string>
		<key>image</key>
		<string>sp05.png</string>
		<key>title</key>
		<string>妈妈向前冲冲冲</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMjQ3ODg2Njc3Mg==</string>
		<key>count</key>
		<string>206.3</string>
		<key>image</key>
		<string>sp06.png</string>
		<key>title</key>
		<string>双喜盈门</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMTg5NTI2NDQxNg==</string>
		<key>count</key>
		<string>98.5</string>
		<key>image</key>
		<string>sp07.png</string>
		<key>title</key>
		<string>孤战</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMTgxNTAyNzA2NA==</string>
		<key>count</key>
		<string>218.7</string>
		<key>image</key>
		<string>sp08.png</string>
		<key>title</key>
		<string>锦绣未央</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://player.youku.com/embed/XMjQ5MDY0NjA1Ng==</string>
		<key>count</key>
		<string>156.9</string>
		<key>image</key>
		<string>sp09.png</string>
		<key>title</key>
		<string>爱，来的刚好</string>
	</dict>
</array>
</plist>
